<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>List User's Transactions</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/jquery/ajaxLoadData.js"></script>
</head>

<body>
    <div class="container">
        <h1>Transactions Table</h1>
        <br>
        <div class="row table-responsive" id="rowTable">

        </div>
        <hr>
        <div class="row">
            <button type="button" class="btn btn-success" id="btnPrivot">PRIVOT</button>
            <button type="button" class="btn btn-warning" id="btnBack">BACK</button>
        </div>
    </div>

</body>
</html>
